body {
 background-color: rgba(0,0,0,1);
 text-align:center;
 padding:25px 25px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: rgba(255,255,255,1);
}
.main-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
.download a {
    color:aquamarine;
    font-size: 16px;
}
.secondary--header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}
.excursion--copywrite {
    text-align:right;
    color:gray;
}